div {
  height: 100px;
  width: 500px;
  background-color: powderblue;
}

img.two {
  height: 50%;
  width: 50%;
}

html,
body {
  height: 100%;
}
/*outline property*/
p.ex1 {
  outline: dashed;
}
p.ex2 {
  outline: dotted red;
}
p.ex3 {
  outline: 5px solid yellow;
}
p.ex4 {
  outline: thick ridge pink;
}
/*multiple style rules*/
.div1 {
  background-color: lightgrey;
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}
p.ex1 {
  border: 2px solid black;
  outline-style: solid;
  outline-color: red;
}

/*text transform */
p.uppercase {
  text-transform: uppercase;
}
p.lowercase {
  text-transform: lowercase;
}

p.capitalize {
  text-transform: capitalize;
}
p {
  white-space: nowrap;
}
/* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}
/*Table Style*/
table {
  width: 100%;
  border: 1px solid;
}
/*Hoverable Table*/
tr:hover {
  background-color: coral;
}
/*Responsive Table*/
tr:nth-child(even) {
  background-color: #f2f2f2;
}
/*OverFlow*/
div {
  background-color: coral;
  width: 200px;
  height: 65px;
  border: 1px solid black;
  overflow-x: hidden;
  overflow-y: scroll;
}
/*Descendant Selector*/
div p {
  background-color: yellow;
}
/*Adjacent Sibling Selector*/
div + p {
  background-color: yellow;
}
/*Image Transparency*/
img {
  opacity: 0.5;
}
/*Transparent Box*/
div {
  background-color: #4caf50;
  padding: 10px;
}

div.first {
  opacity: 0.1;
}

div.second {
  opacity: 0.3;
}

div.third {
  opacity: 0.6;
}
